@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

#root {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #000;
}
